body {
    font-family: Arial, sans-serif;
    background: #f2f4f7;
    margin: 0;
    padding: 20px;
}

.container {
    max-width: 900px;
    margin: auto;
}

header {
    text-align: center;
    margin-bottom: 30px;
}

header h1 {
    color: #111827;
    font-size: 35px;
}

header p {
    color: #6b7280;
}


.cards {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}


.card {
    background: white;
    padding: 25px;
    border-radius: 18px;
    flex: 1;
    min-width: 220px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.08);
}


.card span {
    color: #6b7280;
}


.card strong {
    display: block;
    font-size: 28px;
    margin-top: 10px;
}


.saldo strong {
    color: #2563eb;
}


.entrada {
    color: #16a34a;
}


.saida {
    color: #dc2626;
}



.form-box,
.movimentos {

    background: white;
    padding: 25px;
    margin-top: 25px;
    border-radius: 18px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.08);

}


input,
select,
button {

    width: 100%;
    padding: 13px;
    margin-top: 12px;
    border-radius: 10px;
    border: 1px solid #ddd;
    font-size: 16px;

}


button {

    background: #2563eb;
    color: white;
    cursor: pointer;
    border: none;
    transition: 0.3s;

}


button:hover {

    background: #1d4ed8;

}


.movimento {

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 18px 0;
    border-bottom: 1px solid #eee;

}


.btn-eliminar {

    background: #dc2626;
    margin-top: 10px;

}


.btn-eliminar:hover {

    background: #b91c1c;

}



@media(max-width:600px){

    body {
        padding: 10px;
    }


    .movimento {

        flex-direction: column;
        align-items: flex-start;

    }


}
.grafico-container {
    width: 350px;
    max-width: 100%;
    margin: 20px auto;
}
.btn-sair{

    display:inline-block;
    margin-top:15px;
    padding:12px 18px;
    background:#dc2626;
    color:white;
    text-decoration:none;
    border-radius:10px;
    font-weight:bold;

}

.btn-sair:hover{

    background:#b91c1c;

}
.usuario{
    margin-top: 10px;
    font-size: 18px;
    color: #374151;
}
.menu{
    background:#1f2937;
    color:white;
    display:flex;
    align-items:center;
    gap:20px;
    padding:15px 20px;
    border-radius:12px;
    margin-bottom:25px;
    flex-wrap:wrap;
}

.menu a{
    color:white;
    text-decoration:none;
    font-weight:bold;
}

.menu a:hover{
    color:#60a5fa;
}

.menu .usuario{
    margin-left:auto;
    color:#f3f4f6;
}

.btn-sair{
    background:#dc2626;
    color:white;
    padding:8px 15px;
    border-radius:8px;
    text-decoration:none;
}

.btn-sair:hover{
    background:#b91c1c;
}